@model GeoSit.Client.Web.Models.ValuacionModel
@using GeoSit.Client.Web.Controllers;
@{
    ViewBag.Title = "Parcelas Encontradas";
    ViewBag.Description = "";

}
    <link href="~/Content/mapastematicos.css" rel="stylesheet" />
    <link href="~/Content/jquery.jscrollpane.css" rel="stylesheet" />
    <link href="~/Content/progress_bar.css" rel="stylesheet" />

    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Seguridad.css" rel="stylesheet" />

    <link href="~/Content/formValidation.min.css" rel="stylesheet" />

    <link href="~/Content/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/valuacion.css" rel="stylesheet" />


<div class="modal fade" id="myModal" tabindex="-100" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    @using (Ajax.BeginForm("DetalleValuacionParcela", "Valuacion", new { ReturnUrl = ViewBag.ReturnUrl }, new AjaxOptions { }, new { id = "form", role = "form", novalidate = "", autocomplete = "off" }))
    {  @Html.AntiForgeryToken()
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header centrado" style="padding: 20px 0 40px;">
                    <h4 class="modal-title col-lg-12 col-xs-12 col-sm-12 col-md-12" id="myModalLabel" style="color:#000000">@ViewBag.Title</h4>
                </div>
                <div class="modal-body modal-body-scroll">


                    @*Listado*@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Lista de Parcelas
                        </div>
                        <div class="panel-body" style="color:black" id="Panel_Grilla_Parcelas">


                            <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                                <table id="Grilla_Parcelas" class="table table-striped table-bordered table-responsive" cellspacing="0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="no-sort"></th>
                                            <th>Nomenclatura</th>
                                            <th>Partida</th>
                                            <th>Titular</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        @{string Titular;
                                        foreach (var item in ViewBag.listaParcelas)
                                        {
                                            Titular = item.Nombre + ", " + item.Apellido;
                                            <tr>
                                                <td style="text-align:center">
                                                    <input type="radio" aria-label="~." id="Inmueble" name="idParcela" value=@item.Id_Inmueble>
                                                </td>
                                                @*   <td>@item.Id_Inmueble</td>*@
                                                <td>@item.Nomenclatura</td>
                                                <td>@item.Partida</td>
                                                <td>@Titular</td>
                                            </tr>
                                        }}

                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>

                    @*Fin de listado*@

                </div>

                @*BOTONES*@
                <div class="modal-footer color-fondo-footer" style="background-color:#ffffff;" id="Panel_Botones">

                    <button type="submit" class="btn boton-Seleccionar" id="btnSeleccionar" style="margin-right:5px; display:none"></button>
                    <img id="btnCancelar" title="Cancelar" src="~/Content/images/Seguridad/icons/blue/32/cancelar.png" style="cursor:pointer;">
                </div>

            </div>
        </div>
    }
</div>

    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/formValidation.min.js"></script>
    <script src="~/Scripts/bootstrapValidation.min.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/jquery-sortable.js"></script>
<script src="~/Scripts/jquery.form.js"></script>

    <script>


    $(window).keydown(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });



    $(window).resize(ajustamodal);
    function ajustamodal() {
        var altura = $(window).height() - 190; //value corresponding to the modal heading + footer
        $(".modal-body-scroll").css({ "height": altura, "overflow-y": "auto" });
    }


    $(document).ready(function () {


        ajustamodal();

        $('input[type=radio]').click(function () {
            $('#btnSeleccionar').show();
        });


        $('#Grilla_Parcelas').dataTable({
            "scrollY": "200px",
            "scrollCollapse": true,
            "paging": false,
            "searching": true,
            "bInfo": false,
            "aaSorting": [[1, 'asc']],
            "language": {
                "url": BASE_URL + "Scripts/dataTables.spanish.txt"
            },
            "columnDefs": [
                {
                    "targets": 'no-sort',
                    "orderable": false,
                }
            ]
        });

        $('#myModal').modal('show')


        $("#btnCancelar").click(function () {
            $("#myModal").modal('hide');
            // window.location.href = "@Url.Action("BusquedaParcela", "Valuacion")"
            loadView(BASE_URL + "Valuacion/BusquedaParcela")
        });


        $("#form").ajaxForm({
            beforeSubmit: function (arr, $form, options) {
                showLoading();
                $("#myModal").modal('hide');
                return true; //it will continue your submission.
            },
            success: function (data) {
                //levantar modal
                $('#myModal').modal('hide');
                $("#contenido").empty();
                $("#contenido").html(data);

            },
            error: function () {
                alert("error");
            }
        });

        $("#form").submit(function (evt) {
            /*evita el doble submit*/
            $('#myModal').modal('hide');
            evt.preventDefault();
            evt.stopImmediatePropagation();
            return false;
        });
        hideLoading();
    });


    </script>
}

