@model GeoSit.Client.Web.ViewModels.TituloViewModel

@Html.Partial("Partials/ObjetoEspecificoBaseView", new GeoSit.Client.Web.ViewModels.ObjetoEspecificoViewModel { Guid = Model.Guid, IdTramiteEntrada = Model.IdTramiteEntrada })

<label style="width: 100%; color: #a3a99b; font-style: italic;">
    Título a presentar
</label>

<div class="form-group">
    @Html.LabelFor(m => m.Tipo, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.DropDownListFor(m => m.Tipo, Model.Tipos, new { @class = "form-control visibleArbolObjetos" })
        @Html.ValidationMessageFor(m => m.Tipo, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Inscripcion, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Inscripcion, new { @class = "form-control visibleArbolObjetos" })
        @Html.ValidationMessageFor(m => m.Inscripcion, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Fecha, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Fecha, "{0:dd/MM/yyyy}", new { @class = "form-control", id = "fecha", placeholder = "XX/XX/XXXX" })
        @Html.ValidationMessageFor(m => m.Fecha, "", new { @class = "text-danger" })
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var regex = "";
        jQuery.validator.addMethod('formatoInscripcion', function (value) {
            return RegExp(regex).test(value);
        });

        $("#fecha").datepicker(getDatePickerConfig({ defaultDate: new Date() }))
            .change(function () {
                $(this).valid();
            });

        $("#divEdicionObjetoContainer").validate({
            rules: {
                Tipo: {
                    required: true
                },
                Inscripcion: {
                    required: true,
                    formatoInscripcion: true
                },
                Fecha: {
                    required: true
                }
            },
            messages: {
                Tipo: {
                    required: "Debe tener un valor seleccionado",
                },
                Inscripcion: {
                    required: "Debe tener un valor cargado",
                    formatoInscripcion: "El valor no se corresponde con el formato esperado"
                },
                Fecha: {
                    required: "Debe tener una fecha cargada"
                }
            }
        });

        $("#Tipo").change(function (evt) {
            $.get(BASE_URL + "mesaentradas/ObtenerExpresionRegular?tipo=" + evt.currentTarget.value, function (data) {
                regex = data.regex;
                $("#Inscripcion").attr("placeholder", data.ejemplo);
            });
        });
    });

</script>
